<!DOCTYPE html>
<html lang="en" >

<head th:replace="fragmentsAdmin :: html_head"></head>

<body>
<nav th:replace="fragmentsAdmin :: html_menu"></nav>
<div class="container-fluid text-center">
    <div th:if="${chapter.id == null}"><h1>Thêm mới chương</h1></div>
    <div th:unless="${chapter.id == null}"><h1>Sửa chương</h1></div>
    <form th:action="|/admin/stories/add/chapters/${story.id}|" th:object="${chapter}" method="post" style="max-width: 600px; margin: 0 auto;"
          enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label class="form-label">Tên chương: </label>
            <input type="text" th:field="*{title}" class="form-control" required>
        </div><br>
        <div>
            <label for="description" class="form-label">Nội dung chương: </label>
            <textarea class="form-control" th:field="*{content}" id="description" rows="10" cols="70"></textarea>
        </div><br>
            <div class="text-center p-3">
                <button type="submit" class="btn btn-primary">Lưu thông tin</button>
            </div>
    </form>
</div>

<footer th:replace="fragmentsAdmin :: html_footer"></footer>

</body>

</html>