<!DOCTYPE html>
<html lang="en">

<head th:replace="fragmentsAdmin :: html_head"></head>

<body>
<nav th:replace="fragmentsAdmin :: html_menu"></nav>
<div class="container-fluid text-center">
    <div th:if="${category.id == null}"><h1>Thêm mới thể loại</h1></div>
    <div th:unless="${category.id == null}"><h1>Sửa thể loại</h1></div>
    <form th:action="@{/admin/categories/save}" th:object="${category}" method="post" style="max-width: 600px; margin: 0 auto;">
        <input type="hidden" th:field="*{id}"/>
        <div class="m-3">
            <div class="form-group row">
                <label class="col-form-label col-sm-4">Name: </label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{name}" class="form-control" required>
                </div>
            <div class="text-center p-3">
                <button type="submit" class="btn btn-primary">Lưu</button>
            </div>
        </div>
            </div>
    </form>
</div>
<footer th:replace="fragmentsAdmin :: html_footer"></footer>
</body>

</html>