<!DOCTYPE html>
<html lang="en">

<head th:replace="fragmentsAdmin :: html_head"></head>

<body>
<nav th:replace="fragmentsAdmin :: html_menu"></nav>
<div class="container mt-3">
    <a th:href="@{/admin/add/chapters/new}" style="margin: 20px 0" class="btn btn-primary">Add New Chapter</a>
    <div><h1>Chapter List</h1></div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Delete</th>
            <th scope="col">Update</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="chapter : ${listChapters}">
            <th th:text="${chapter.id}"></th>
            <td th:text="${chapter.title}"></td>

            <td><a th:href="@{'/admin/chapters/delete/' + ${chapter.id}}"
                   class="btn btn-danger">Delete</a></td>
            <td><a th:href="@{'/admin/chapters/edit/' + ${chapter.id}}"
                   class="btn btn-warning">Edit</a></td>
        </tr>
        </tbody>
    </table>
</div>

<footer th:replace="fragmentsAdmin :: html_footer"></footer>
</body>

</html>