<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>

  <!-- Styles Golobal -->
  <link rel="stylesheet" type="text/css" href="../static/assets/css/index.css" />

  <!-- Bootstrap Core css -->
  <link rel="stylesheet" type="text/css" href="../static/plugins/bootstrap-5.2.0-beta1-dist/css/bootstrap.min.css
  ">
  <link href="../static/plugins/fontawesome-free-6.1.1-web/css/all.css" rel="stylesheet">
</head>
<body>
    <!-- Header-main -->
    <div class="Header-main">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-6">
                    <div class="header-left">
                        <a href="#" class="link-logo" >Kho Truyện Hay</a>
                    </div>
                    
                </div>
                <div class="col-12 col-sm-6 col-md-6">
                    <div class="header-right">

                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Bootstrap Core css -->
    <script type="text/javascript" src="../static/plugins/bootstrap-5.2.0-beta1-dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>