<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Add employer</h1>
    <body>
      <h1>Add new Employer:</h1>
      <form th:action="@{/employer/list}" method="POST" th:object="${Employer}">
        Name: <input th:field="*{name}" /> <br />
        <br />
        Website: <input th:field="*{website}" /> <br />
        <br />
        Email: <input th:field="*{email}" /> <br />
        <br />
        Address: <input th:field="*{address}" /> <br />
        <br />

        <input type="submit" value="Submit" />
      </form>
    </body>
  </body>
</html>
