<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a th:href="@{/employer/list}">List Employer</a><br />
    <body>
      <h1>Add new Employer:</h1>
    <form action="#" th:action="@{/employer/add}" th:object="${employers}" method="post">
    Name: <input type="text" placeholder="Your name" th:field="*{name}"/><br><br>
    Website: <input type="text" placeholder="Your website" th:field="*{website}"/><br><br>
    Email: <input type="text" placeholder="Your email" th:field="*{email}"/><br><br>
    Address: <input type="text" placeholder="Your address" th:field="*{address}"/><br><br>
    <button type="submit">Submit</button>
    </form>
    </body>
  </body>
</html>
