<!DOCTYPE html>
<html lang="en">
<head th:replace="Templates :: head"></head>
<body>
<nav th:replace="Templates :: menu"></nav>
<div class="container">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page" th:text="${story.title}">Library</li>
        </ol>
    </nav>
    <hr class="ui-menu-divider">
</div>
<div class="container">
    <div class="row">
        <div class="col text-center">
            <img th:src="@{${story.imagePath}}" style="width: 300px" class="rounded">
        </div>
        <div class="col">
            <p th:text="${story.title}" class="fs-3 text-uppercase fw-bolder"></p>
            <p>Tác Giả:</p>
            <p th:text="${story.author}" class="fs-5"></p>
            <p>Thể loại:</p>
            <p th:text="${story.categories}" class="fs-5"></p>
            <p>Nguồn:</p>
            <p th:text="${story.link}" class="fs-5"></p>
            <p>Mô tả:</p>
            <p th:text="${story.description}"></p>

        </div>
        <div class="col border border-dark rounded">
            <p class="fs-5 text-uppercase fw-bolder" >Thể Loại Truyện</p>
            <hr class="ui-menu-divider">
            <th:block th:with="partitions = ${T(org.apache.commons.collections4.ListUtils).partition(listCategories,2)}">
                <div class="row" th:each="partition : ${partitions}">
                    <div class="col-sm-6 p-2 list-group" th:each="category : ${partition}">
                    <a class="list-group-item list-group-item-action" th:href="|/stories/category/${category.id}|" style="text-decoration: none; color: black;" th:text="${category.name}"></a>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
    <hr class="ui-menu-divider">
</div>
<div class="container">
    <p class="fs-4 text-uppercase fw-bolder">Danh sách chương</p>
    <div class="row">
        <hr class="ui-menu-divider">
        <div class="col" >
            <ul th:each="chapter : ${listChapters}">
                <li>
                    <a th:href="|/stories/${story.id}/chapter/${chapter.id}|" th:text="${chapter.title}" style="text-decoration: none"></a>
                </li>
            </ul>
        </div>
    </div>
    <hr class="ui-menu-divider">
</div>
<div class="container">
    <h3>Comment</h3>
    <div class="container">
        <form th:action="|/stories/${story.id}|" th:object="${comment}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <div>
                <label class="form-label">Name: </label>
                <input type="text" th:field="*{name}" class="form-control" required>
            </div>
            <div>
                <label for="description" class="form-label">Comment</label>
                <textarea class="form-control" th:field="*{content}" id="description" rows="3" cols="70"></textarea>
            </div><br>
            <div class="d-flex flex-row-reverse">
                <input type="submit" value="Add comment">
            </div>
        </form>
    </div>
    <hr class="ui-menu-divider">
</div>
<div class="container">
    <div class="border border-3 rounded m-3 d-flex" th:each="comment: ${commentList}">
        <div class="m-3">
            <img src="/assets/images/avatar.jpg" class="rounded-circle" alt="avatar" style="width: 50px">
        </div>
        <div class="m-3">
            <span class="fw-bold" th:text="${comment.name}"></span>
            <p th:text="${comment.content}"></p>
        </div>
            <td><a th:href="@{'/stories/'+ ${story.id} + '/comment/delete/' + ${comment.id}}"
                   class="btn btn-danger">Xóa</a></td>
    </div>
</div>
<div th:replace="Templates :: footer"></div>
</body>
</html>