<!DOCTYPE html>
<html lang="en">
<head th:replace="Templates :: head"></head>
<body>
<nav th:replace="Templates :: menu"></nav>
<div class="container">
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
      <li class="breadcrumb-item" th:text="${story.title}">Library</li>
      <li class="breadcrumb-item active" aria-current="page" th:text="${chapter.title}">Library</li>
    </ol>
  </nav>
  <hr class="ui-menu-divider">
</div>
<div class="container">
  <div class="text-center m-2">
  <h1  th:text="${story.title}" >Tiêu đề</h1>
  </div>
  <div class="text-center m-2">
  <h2 th:text="${chapter.title}" >Tên chương</h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="d-flex justify-content-center ">
        <div class="dropdown">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Danh sách chương
          </a>
          <ul class="dropdown-menu" >
            <li th:each="chapter : ${listChapters}" ><a class="dropdown-item" th:href="|/stories/${story.id}/chapter/${chapter.id}|" th:text="${chapter.title}"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row m-5 d-block">
    <p class="fst-normal lh-lg fs-5" th:text="${chapter.content}" >
    </p>
  </div>
</div>
<div th:replace="Templates :: footer"></div>
</body>
</html>