<!DOCTYPE html>
<html lang="en">
<head th:fragment="head">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Đọc Truyện Online</title>
    <!-- Styles Global -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}" />
    <!-- Bootstrap -->
    <link
            rel="stylesheet"
            type="text/css"
            th:href="@{/plugins/bootstrap/bootstrap-5.2.0-beta1-dist/css/bootstrap.min.css}"
    />
    <!-- Font-AWS -->
    <link
            rel="stylesheet"
            th:href="@{/plugins/fontawesome-free-6.1.1-web/css/all.min.css}"
    />
    <!-- OWL-Core-CSS -->
    <link
            rel="stylesheet"
            th:href="@{/plugins/owlcarousel/assets/owl.carousel.min.css}"
    />
    <link
            rel="stylesheet"
            th:href="@{plugins/owlcarousel/assets/owl.theme.default.min.css}"
    />
</head>
<body>

<nav class="navbar navbar-expand-sm navbar-dark bg-dark" th:fragment="menu">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}">Đọc Truyện Online</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Trang chủ</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Thể loại
                    </a>
                    <div class="dropdown-menu" style="background: #FFFFFF; width: 500px">
                        <div th:with="partitions = ${T(org.apache.commons.collections4.ListUtils).partition(listCategories,3)}">
                            <div class="row" th:each="partition : ${partitions}">
                                <div class="col-sm-4" th:each="category : ${partition}">
                                    <a class="dropdown-item p-2" th:href="|/stories/category/${category.id}|" th:text="${category.name}"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <form class="d-flex" th:action="@{/search}">
                <input class="form-control me-2" type="text" placeholder="Search" name="keyword" th:value="${keyword}">
                <button class="btn btn-primary" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            <div class="nav-user-wrapper" id="dangnhap">
                <a th:href="@{/user/login}"><button  class="nav-user-btn dropdown-btn" style="color: red;" title="Đăng nhập" type="button">
                    Đăng nhập
                </button></a>
            </div>
            <div class="nav-user-wrapper" id="dangky">
                <a th:href="@{/register}"><button  class="nav-user-btn dropdown-btn" style="color: red;"title="Đăng ký" type="button">
                    Đăng ký
                </button></a>
            </div>
        </div>
    </div>
</nav><br>

<nav class="navbar navbar-expand-sm navbar-dark bg-dark" th:fragment="menu_login">
    <div class="container">
        <a class="navbar-brand" th:href="@{/user}">Đọc Truyện Online</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user}">Trang chủ</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Thể loại
                    </a>
                    <div class="dropdown-menu" style="background: #FFFFFF; width: 500px">
                        <div th:with="partitions = ${T(org.apache.commons.collections4.ListUtils).partition(listCategories,3)}">
                            <div class="row" th:each="partition : ${partitions}">
                                <div class="col-sm-4" th:each="category : ${partition}">
                                    <a class="dropdown-item p-2" th:href="|/user/stories/category/${category.id}|" th:text="${category.name}"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <form class="d-flex" th:action="@{/user/search}">
                <input class="form-control me-2" type="text" placeholder="Search" name="keyword" th:value="${keyword}">
                <button class="btn btn-primary" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
        <div>
            <form th:action="@{/user/logout}" method="post">
                <input type="submit" value="Logout" />
            </form>
        </div>
    </div>
</nav><br>

<div th:fragment="footer">
<!-- JQUERY-3.6.0 -->
<script th:src="@{/plugins/jquery-3.6.0.min.js}"></script>
<!-- Bootstrap -->
<script
        type="text/javascript"
        th:src="@{/plugins/bootstrap/bootstrap-5.2.0-beta1-dist/js/bootstrap.bundle.min.js}"
></script>
<!-- OWL-CORE-SCRIPT -->
<script th:src="@{/plugins/owlcarousel/owl.carousel.min.js}"></script>
<script th:src="@{/assets/js/owl-custom.js}"></script>
</div>
</body>
</html>