<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="Templates :: head"></head>
  <body>
  <nav th:replace="Templates :: menu_login"></nav>
  <div class="container">
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a th:href="@{/user}">Home</a></li>
    </ol>
  </nav>
    <hr class="ui-menu-divider">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8" style="font-size: 30px; font-weight: 300">Tất Cả Truyện
      <hr class="ui-menu-divider">
        <div class="container">
          <div class="row">
          <div class="col-12 col-sm-3 col-md-3 border border-2 m-2 rounded" th:each="story : ${listStories}" >
            <a th:href="|/user/stories/${story.id}|" style="text-decoration: none"> <div class="p-2 bd-highlight">
              <img th:src="@{${story.imagePath}}" class="rounded" style="width: 170px">
                <p class="fs-5" th:text="${story.title}" style="width: 170px;"></p>
            </div>
            </a>
          </div>
        </div>
        </div>
      </div>
      <div class="col-6 col-md-4" style="font-size: 30px; font-weight: 300">Top truyện
        <hr class="ui-menu-divider">
        <div class="container">
          <div class="row list-group">
            <div class="list-group-item">
            <div class="col-12 d-flex m-2 " th:each="story : ${listStories}">
              <a th:href="|/user/stories/${story.id}|" style="text-decoration: none">
                <img th:src="@{${story.imagePath}}" class="m-2" style="width: 100px">
              </a>
              <div class="m-3">
                <a th:href="|/user/stories/${story.id}|" style="text-decoration: none">
                  <p class="fs-5" th:text="${story.title}" ></p>
                </a>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div th:replace="Templates :: footer"></div>
  </body>
</html>
